<%- include('partials/_header'); %>

<div class="container"></div>
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>foto</th>
                        <th>idOficio</th>
                        <th>idUsuario</th>
                        <th>Fecha</th>
                        <th>Valoracion</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for (var i = 0; i < data.length; i++ ) { %>
                            <tr>
                                <td><%= data[i].idPost %></td>
                                <td><%= data[i].descripcion %></td>
                                <td><%= data[i].foto %></td>
                                <td><%= data[i].Rubro_idOficio %></td>
                                <td><%= data[i].Usuario_idUsuario %></td>
                                <td><%= data[i].fecha %></td>
                                <td><%= data[i].valoracion %></td>
                                <td>
                                    <a href="/delete/<%= data[i].idPost %>" class="btn btn-danger">Delete</a>
                                    <a href="/update/<%= data[i].idPost %>" class="btn btn-info">Update</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <form action="/add" method="post">
                <div class="form-group">
                    <input type="text" name="descripcion" placeholder="Descripcion" class="form-control">
                </div>
                <div class="form-group">
                    <input type="file" name="foto" id="foto" required>
                </div>
                <div class="form-group">
                    <input type="number" name="Rubro_idOficio" placeholder="idOficio" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="Usuario_idUsuario" placeholder="idUsuario" class="form-control">
                </div>
                <div class="form-group">
                    <input type="nunmber" name="valoracion" placeholder="Valoracion" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Save Post</button>
            </form>
        </div>
    </div>
</div>


<%- include('partials/_footer'); %>